
MYSQL_host=localhost
MYSQL_user=root
MYSQL_password=simples123
MYSQL_database=debit-trabalhista

urlCookie=http://mat/trabalhista4/check.php 
urlGetID=http://mat/trabalhista4/checkID.php 


awsMYSQL_host=xxx.rds.amazonaws.com
awsMYSQL_user=admin
awsMYSQL_password=xxx
awsMYSQL_database=trabalhista

servidorWWW=http://mat.fastbet.win
servidorAPI=http://api.fastbet.win 

pasta_calculos=/Users/mrozgrin/calculos_trabalhistas

