
MYSQL_host=localhost
MYSQL_user=root
MYSQL_password=simples123
MYSQL_database=debit-trabalhista


servidorWWW=http://mat.fastbet.win
servidorAPI=http://api.fastbet.win 

pasta_calculos=/Users/mrozgrin/calculos_trabalhistas

